<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="Final"
        android:supportsRtl="true"
        android:theme="@style/Theme.CST2335_FinalProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".entry.EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Change to your PackageName.ClassName -->
        <activity
            android:name="algonquin.cst2335.cst2335_finalproject_sunset_sunrise.MainActivity"
            android:exported="true" />

<!--        &lt;!&ndash; Add the activity for MainActivity2 &ndash;&gt;-->
<!--        <activity-->
<!--            android:name="PackageName.ClassName"-->
<!--            android:exported="true" />-->

<!--        &lt;!&ndash; Add the activity for SecondActivity &ndash;&gt;-->
<!--        <activity-->
<!--            android:name="PackageName.ClassName"-->
<!--            android:exported="true" />-->
<!--        <activity-->
<!--            android:name="PackageName.ClassName"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name="PackageName.ClassName"-->
<!--            android:exported="true" />-->
<!--        <activity-->
<!--            android:name="PackageName.ClassName"-->
<!--            android:exported="true" />-->
<!--        <activity-->
<!--            android:name="PackageName.ClassName"-->
<!--            android:exported="false"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name="PackageName.ClassName"-->
<!--            android:label="Currency Converter">-->
<!--            </activity>-->


        <meta-data
            android:name="androidx.room.RoomDatabase.DEFAULT_DATABASE_CALLBACK"
            android:value="androidx.room.RoomDatabase$DefaultDatabaseCallback" />
    </application>

</manifest>